body,
div,
h1,
h2,
h3,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fafafa;
}

img {
  width: 100%;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}

h2 {
  color: rgb(0, 0, 255, 1);
  font-size: 1.1rem;
}

.description {
  font-size: 1rem;
  font-weight: light;
}

.caption {
  font-size: 0.8rem;
  font-weight: light;
}

span {
  /* color: rgb(0, 0, 255, 1); */
  text-decoration: underline;
}

ul,
li,
ul li a {
  color: rgb(0, 0, 0, 1);
  text-decoration: underline;
  font-size: 1rem;
  list-style: none;
  list-style-position: outside;
  overflow: hidden;
  text-overflow: ellipsis;
}

ul li a:hover {
  background-color: #eeeeee;
  padding: 0.25rem 0.5rem;
  transition: 0.25s ease-in-out;
}

.footer-bg {
  background-color: rgba(0, 0, 0, 0.1);
}

.footer-bg p,
.footer-bg a {
  font-size: 0.8rem;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
}

.footer-bg a:hover {
  color: rgb(0, 0, 0);
}